extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
  +alert-success(3000)
  +alert-error(3000)

  h1.mb-4 Edit Product

  form(
    action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH` 
    method="POST" 
    id="form-edit-product"
    enctype="multipart/form-data"
  )
    .form-group
      label(for="title") Title
      input#title.form-control(type="text" name="title" required value=product.title)

    .form-group
      label(for="desc") Description
      textarea#desc.form-control(name="description" rows="5") #{product.description}

    .form-group
      label(for="price") Price
      input#price.form-control(type="number" name="price" value=product.price min="0")

    .form-group
      label(for="discount") Discount (%)
      input#discount.form-control(type="number" name="discountPercentage" value=product.discountPercentage min="0")

    .form-group
      label(for="stock") Stock
      input#stock.form-control(type="number" name="stock" value=product.stock min="0")      

    .form-group(upload-image)
      label(for="thumbnail") Thumbnail
      input#thumbnail.form-control-file(type="file" name="thumbnail" accept="image/*" upload-image-input)
      img.image-preview(src=product.thumbnail upload-image-preview)

    .form-group
      label(for="position") Position
      input#position.form-control(type="number" name="position" min="1" placeholder="Auto incremented" value=product.position)

    .form-group.form-check.form-check-inline
      input#statusActive.form-check-input(type="radio" name="status" value="active" checked=(product.status == 'active' ? true : false))
      label.form-check-label(for="statusActive") Active

    .form-group.form-check.form-check-inline
      input#statusActive.form-check-input(type="radio" name="status" value="inactive" checked=(product.status == 'inactive' ? true : false))
      label.form-check-label(for="statusInActive") InActive

    .form-group
      button.btn.btn-primary(type="submit") Edit Product

  script(src="/admin/js/product.js") 